<!--<div class="container">
    <h2>Angular Services</h2>
    <hr>
    <div class="navbar">
      <a [routerLink]="'/register'">Register</a> | <a [routerLink]="'/login'">Login</a>
      </div>-->

<!--<div class="main">
        <h2>Welcome to my Website</h2>
        <router-outlet></router-outlet>
      </div>-->
<!--<app-pnr></app-pnr>
    <app-register></app-register>
    <app-login></app-login>
    <router-outlet></router-outlet>-->
<!--</div>-->
<!-- <app-product></app-product> -->
<!--<app-view-profile></app-view-profile>-->
 <app-viewproduct></app-viewproduct>
<!--<app-view-profile></app-view-profile>-->
<!--<app-pic-upload></app-pic-upload>-->
<div class="navbar">
    <a [routerLink]="'/addproduct'">AddProduct</a>
    <router-outlet></router-outlet>
  </div>-->
<app-cart></app-cart> 
<!-- <app-userprofilecontainer></app-userprofilecontainer> -->
<!-- <app-catagories></app-catagories>--> 
<!-- <app-place-order></app-place-order> -->
